/*------------------------------------------- Universal Style */
* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------ Header area style */

header {
  width: 1320px;
  height: 600px;
  background: url("resources/BannerImage.png");
  margin: 50px auto;
  border-radius: 16px;
}

.banner {
  border-radius: 16px;
  background: linear-gradient(to bottom, #010004 0%, rgba(0, 0, 0, 0) 100%);
}

.small-heading {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-family: "Merriweather";
  padding-top: 170px;
}

.big-heading {
  width: 632px;
  height: 190px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Merriweather";
  margin: auto;
}

/*---------------------------------------- Offer section style */

.offer-section {
  width: 1320px;
  margin: auto;
}

.text-area {
  width: 500px;
  margin: auto;
}

.text-area h1 {
  color: #ff0000;
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
  font-family: "Inter";
  font-size: 88px;
}

.text-area h6 {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  font-family: "Inter";
  color: #ff0000;
  margin-top: 48px;
}

.text-area h3 {
  font-size: 48px;
  color: #040207;
  text-align: center;
  font-weight: 700;
  font-family: Inter;
  margin-top: 5px;
}

.picture-area {
  width: 803px;
  margin: 48px auto;
}

.picture-area img {
  width: 100%;
}

/*------------------------------------------ Party Section Style */

.party-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("resources/Vectorrr.png");
  margin: 60px auto;
  border-radius: 16px;
}

.party-info {
  width: 650px;
  margin-left: 125px;
}

.party-info h1 {
  font-size: 64px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 88px;
  font-family: "Merriweather";
}

.party-info p {
  font-family: "Inter";
  color: rgba(222, 220, 220, 0.8);
  margin-top: 24px;
  margin-bottom: 40px;
}

.party-info button {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Inter";
  background: none;
  border: none;
  margin-left: 20px;
}
.year-picture {
  margin-right: 100px;
}

/*-------------------------------------- Event Time Section */

.event-time-section {
  width: 1320px;
  height: 482px;
  margin: 100px auto;
  background-image: linear-gradient(
    180deg,
    rgba(255, 101, 101, 0.232) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}

.time-and-date {
  padding-top: 100px;
}
.time-and-date h4 {
  color: #08040f;
  font-size: 32px;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  line-height: 56px;
}

.red-text {
  color: #f00;
}

.join-button {
  width: 170px;
  margin: 48px auto;
}
.join-button button {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #f00;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
}

/*-------------------------------- Coming soon section style */
.comming-soon-sec {
  width: 1320px;
  height: 482px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.coming-soon-text {
  width: 30%;
}

.coming-soon-text h4 {
  color: #ff0000;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  margin-top: 100px;
}

.coming-soon-text h2 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  margin-top: 15px;
}

.coming-soon-text p {
  margin-top: 22px;
  color: #070211;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-pic {
  width: 28%;
}

.coming-soon-pic img {
  width: 100%;
  margin-left: -19px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  border: 20px solid #ff0000;
  border-radius: 50%;
  padding: 20px;
}

.coming-soon-ex-time {
  width: 22%;
  margin-left: 30px;
}

.coming-soon-ex-time h1 {
  color: #ff0000;
  font-family: "Inter";
  font-size: 48px;
  margin-top: 100px;
  font-weight: 700;
}

.coming-soon-ex-time p {
  color: #070211;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/*----------------------------- Holiday Sale Offer Section */
.holiday-sell-sec {
  margin: 120px auto;
}
.holiday-text-area {
  width: 1068px;
  text-align: center;
  margin: auto;
}

.holiday-text-area h4 {
  color: #000000;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.holiday-text-area h1 {
  color: #f00;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  padding: 10px 0px 28px 0px;
}

.sell-special-color {
  color: #070211;
}

.holiday-text-area p {
  color: #08040f;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 25px;
}

.holiday-discount-sec {
  width: 1320px;
  height: 700px;
  margin: auto;
  background-image: url("resources/Rectangle2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.surprise-box {
  width: 720px;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.surprise-box img {
  width: 100%;
}

.discount-box {
  width: 433px;
  height: 450px;
  position: absolute;
  right: 0px;
  bottom: 229px;
}

.discount-box img {
  width: 100%;
  height: 100%;
}

.percentage {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 120px;
  right: 285px;
}

.percentage img {
  width: 100%;
  height: auto;
}

/*------------------------------------- Portfolio Section Style */

.portfolio-text-sec h4 {
  font-family: "Inter";
  font-size: 24px;
  color: #ff0000;
  font-weight: 500;
  margin-bottom: 16px;
}

.portfolio-text-sec h1 {
  font-size: 48px;
  font-weight: 900;
  color: #04000b;
  font-family: "Merriweather";
}

.portfolio-text-sec p {
  width: 890px;
  margin-top: 20px;
  margin-bottom: 45px;
  color: rgb(101, 99, 106);
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
}

.portfolio-sec {
  width: 1320px;
  height: 2000px;
  margin: auto;
}

.portfolio-items-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.item {
  width: 32%;
}

.item img {
  width: 100%;
}

.portfolio-subscribe-sec {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 100%;
  height: 616px;
  margin-top: 120px;
}

.subscriber-newsletter {
  padding-top: 80px;
  width: 900px;
  margin: auto;
  text-align: center;
}

.subscriber-newsletter img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.subscriber-newsletter h1 {
  font-size: 48px;
  color: #06010f;
  font-family: "Merriweather";
  font-weight: 900;
  margin-bottom: 22px;
}

.subscriber-newsletter p {
  color: rgb(78, 76, 83);
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}

.subscribe-field-sec {
  width: 650px;
  height: 75px;
  margin: auto;
  margin-top: 48px;
}

.email-area {
  width: 59%;
  border: none;
  padding: 22px 24px;
  color: rgb(211, 211, 211);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-right: 0;
  font-family: "Inter";
  font-size: 18px;
}

.subscribe-btn {
  color: #ffffff;
  background: #ff0000;
  padding: 22px 24px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 33%;
  margin: auto;
  margin-left: -5px;
  border: none;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}

/*-------------------------------------------- footer style */
footer {
  background: #070211;
  width: 100%;
  height: 609px;
  margin: auto;
}

.footer-content {
  width: 1320px;
  margin: auto;
}

.address {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 30px;
}

.street-address {
  width: 375px;
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.phone-and-website-address {
  width: 375px;
}

.call-area {
  display: flex;
  gap: 20px;
  align-items: center;
}

.website-area {
  display: flex;
  gap: 20px;
  align-items: center;
}

.call-area p, .website-area p {
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.call-area img, .website-area img {
  width: 30px;
  height: 30px;
}





hr {
  color: gainsboro;
}

.social-icons {
  padding-top: 50px;
  width: 450px;
  margin: auto;
  padding-bottom: 50px;
}

.social-icons img {
  width: 65px;
  height: 65px;
  margin: auto 20px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.copyright .all-rights {
  width: 375px;
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.unsubscribe {
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  padding-right: 10px;
}
